<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Stonks</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <img src="{{url_for('static', filename='images/stonks.jpg')}}" />
        <br>
        {% block body %}{% endblock %}
    </body>
</html>